@using Services.Data
@using Ivelinshirov.Common
@inject ICategoryService categoryService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivelin Shirov - @ViewData["Title"]</title>
    <meta name="description" content="Paintings, Drawings, Hyper Realistic Art" />
    <meta name="keywords" content="Ivelin Shirov, artist, art, paintings, drawings, hyperrealism, portfolio">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/lightbox.min.css" rel="stylesheet" />
    <script src="~/js/lightbox.min.js"></script>
</head>
<body>
    <header>
        <div class="logo mt-3">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="Ivelin Shirov">
            </a>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-4">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        @foreach (var category in await categoryService.GetAll())
                        {
                            <li class="nav-item">
                                <a class="nav-link @Html.ActiveClass("Art", "Index", category.Name)" asp-area="" asp-controller="Art" asp-action="Index" asp-route-id="@category.Name">@category.Name.ToUpper()</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link @Html.ActiveClass("About", "Index")" asp-area="" asp-controller="About" asp-action="Index">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @Html.ActiveClass("Contact", "Index")" asp-area="" asp-controller="Contact" asp-action="Index">CONTACT</a>
                        </li>
                        @if (this.User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN PANEL</a>
                            </li>
                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ivelin Shirov. Developed by Hristo Shirov.
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
