@using Services.Data
@using Ivelinshirov.Common
@inject ICategoryService categoryService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivelin Shirov - @ViewData["Title"]</title>
    <meta name="description" content="Paintings, Drawings, Hyper Realistic Art" />
    <meta name="keywords" content="Ivelin Shirov, artist, art, paintings, drawings, hyperrealism, portfolio">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="~/css/lightbox.min.css" rel="stylesheet" />
    <script src="~/js/lightbox.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="logo mt-3">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/logo.png" alt="Ivelin Shirov">
            </a>
        </div>
        <hr />
        <main role="main" class="row pb-2">
            <ul class="nav flex-column col-md-3">
                @foreach (var category in await categoryService.GetAll())
                {
                    <li class="nav-item">
                        <a class="nav-link @Html.ActiveClass("Art", "Index", category.Name)" asp-area="" asp-controller="Art" asp-action="Index" asp-route-id="@category.Name">@category.Name.ToUpper()</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="nav-link @Html.ActiveClass("About", "Index")" asp-area="" asp-controller="About" asp-action="Index">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @Html.ActiveClass("Contact", "Index")" asp-area="" asp-controller="Contact" asp-action="Index">CONTACT</a>
                </li>
                @if (this.User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN PANEL</a>
                    </li>
                }
            </ul>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </main>
        <hr />
        <footer>
            <div class="footer-text">
                &copy; 2021 Ivelin Shirov | Developed by <a href="mailto:hristoshirov@gmail.com">Hristo Shirov</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
